@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: hsl(275, 100%, 15%);
  margin: 0;
  padding: 0;
}

.slick-dots li button:before {
  font-size: 12px;
  color: rgb(255, 255, 255); /* Change this to your desired color */
}

.slick-dots li.slick-active button:before {
  color: rgb(0, 0, 0); /* Change this to your desired color for active dot */
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}
