@import url("https://fonts.googleapis.com/css2?family=Danfo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Danfo&family=Reenie+Beanie&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: indigo;
  background: linear-gradient(35deg, hsl(0, 0%, 0%), 40%, rgb(55, 48, 163));
  height: 100vh;
}
